.Button {
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 0 25px 25px 0;
  box-shadow: 25px 25px 25px grey;

  font-size: 23pt;
  font-weight: 900;

  color: white;
  background-color: tomato;
}
.Button:hover{
  box-shadow: 15px 15px 25px grey;
}
.Button.clicked{
  box-shadow: 5px 5px 25px grey ;
  border: 1px solid grey ;
  /* text-decoration: underline black; */
}
.Button img {
  width: 32px;
  height: 32px;
}
.Button.yellow {
  background-color: yellow;
  color: green;
}
